        <div class="tabbertab">
            <h2>Movements</h2>
            <div class="container1">
<p>
  <b>Description:</b>
  <%=h @movement.description %>
</p>

<p>
  <b>Amount:</b>
  <%=h @movement.amount %>
</p>

<p>
  <b>Movdate:</b>
  <%=h @movement.movdate %>
</p>
<p>
<%= @map.div(:width => 400, :height => 300) %>

</p>



            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->