<div class="box box-first box-50 altbox">
				<% form_for(@bankaccount ,:html =>{:class => 'basic'}) do |f| %>
			<div class="header cr-top">
				<h3><%=  I18n.t('layout.bankaccounts.name') %></h3>
				<%= f.submit I18n.t('layout.application.update'),:class => 'phosney-button phosney-header-button' %>
			</div>

			<div class="basic cr-bottom">
				<dl>
						<%= render :partial => "form", :object => f %>
				</dl>				
			</div>

		</div>
				<% end %>
</div>