body { font-family: Lucida Sans Unicode, Arial, Sans-Serif; font-size:13px;margin:0px;}

/* Structure */
#header, #content, #comments, #sidebar, #footer { background-color:#CCCCCC; margin:10px 0px;
	 -moz-border-radius:10px;  -webkit-border-radius:10px; padding:30px;}
#header h1 { float:right; margin: 20px 0 0 0; font-size:36px; font-weight:bold;}
#header h2 {font-size:16px; font-weight:normal; margin:0px; padding:0px;}
#header { width:940px; margin:0px auto; padding:10px;}

#logo {
width:960px; 
margin: 0px auto;
height:100px;
background-color:#CCCCCC;
-moz-border-radius-topleft:10px; 
-moz-border-radius-topright:10px; 
-webkit-border-top-right-radius:10px; 
-webkit-border-top-left-radius:10px;
}


#navigation {
width:960px; 
margin: 0px auto;
height:45px;
background-color:#CCCCCC;
/*-moz-border-radius-bottomleft:10px; 
-moz-border-radius-bottomright:10px; 
-webkit-border-bottom-right-radius:10px; 
-webkit-border-bottom-left-radius:10px;*/
border-bottom:5px solid #ce1212;
padding-top:5px;
}

#navigation ul li { display:inline;}
#navigation  ul li a { color:#000000;background-color: #ffffff; text-decoration:none; margin-right:10px; display:inline-block;  padding:8px; 
-moz-border-radius-topright:6px; -moz-border-radius-topleft:6px;  -webkit-border-top-right-radius:6px; -webkit-border-top-left-radius:6px;}
#navigation  ul li a:hover { background:#333; color: #ffffff;}
#navigation  ul li.current a { background:#ce1212; font-weight:bold; color:#fff;}



/*272C36,46474C,849B8B,B4D7B8,EDF7D2*/
#login {background-color:#CCCCCC;top:0px; width:960px; margin:0px auto 10px auto; height:35px; 
	-moz-border-radius-bottomleft:10px; -moz-border-radius-bottomright:10px; 
	-webkit-border-bottom-right-radius:10px; -webkit-border-bottom-left-radius:10px;}

#quickmovement { background-color:#B4D7B8;width:940px; margin:10px auto 0px auto; padding:10px;  -moz-border-radius:10px;  -webkit-border-radius:10px;}
#addedmovementslist {width:980px; margin: 10px auto 0px auto; padding-left: 20px; padding-top: 2px; overflow:auto; height:100px;}
.addedmovements{ height:30px;background-color:#B4D7B8;width:960px; margin:0px 0px 5px 0px; padding:0px;  -moz-border-radius:10px;  -webkit-border-radius:10px;}


#main {width:960px; margin:0px auto; overflow:hidden;}




#toolbox { text-align:right; float:right;}
#content { width:710px; float:left; }
#primary { width:710px; float:left;}
#search { width:160px; float:right; visibility:hidden; height: 0;}
#comments { width:710px; float:left;}
#comments p span {display:block; font-size:16px; color:#B0232A;}
#sidebar { width:160px; margin-left:10px; float:right;padding: 20px 10px; }
#footer { width:900px; margin:0px auto; margin-bottom: 5px;}

#sidebar .quickflip-div ul { width:100px;}
#sidebar .quickflip-div {background-color:#ffffff; -moz-border-radius:10px;  -webkit-border-radius:10px;}

      		  
		  
#quickmovement fieldset {
	display: inline;
	border: none;
	margin: 0px;
	padding: 0px 0px;
	height: 35px;
}          
#quickmovement fieldset  input[type="button"] {width: 80px;}


          
/* Change view sprites */
.toolbox { float:right; margin-left:10px;}
.toolbox a { width:30px; height:20px; float:right; }

#wideView {background: transparent url(../images/buttons.png) no-repeat scroll 0px 0px; }
#wideView:hover { background-position:-30px 0px; }
#wideView.wide {background-position:0px -20px; }
#wideView.wide:hover { background-position:-30px -20px; }

/* Different views */
#content.wide { width:900px; }
#toolbox.wide { width:960px;}
#search.wide {visibility:visible; height: auto; margin:5px;}
#primary.wide{margin-top:20px;}
#content.compact, #comments.compact { width:710px;}
#sidebar.compact { width:160px;}
#search.compact {visibility:hidden; height: 0px;}
#primary.compact{margin-top:0px;}

a { color:#0000ff;}
h3 { font-size:24px; font-weight:normal; padding:0; margin:0; color:#B0232A;}
em { font-size:10px;}
