.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

.clearfix {display: inline-block;}

/*---------------------------------------------------------------------------------------
--- BASICS
---------------------------------------------------------------------------------------*/
body{ 
	background:none repeat scroll 0 0 #DDDDDD;
	}

.left{ float:left; }
.right{ float:right; }
.clear{	clear:both; }
.padding{	padding:10px; }

input.txt,
textarea {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid #999; background: #ffffff url("/images/txt.gif") repeat-x; padding: 4px 2px 5px 4px;
}

.fieldWithErrors input,textarea {
	border: 1px solid red;
	 background-image: url("/images/txt-error.gif");
}

/* ------------------------------------------------------------------------------------
STRUCTURE					 */
#container{	overflow:hidden;   width:1000px; margin:0px auto 0px auto;}
#mainheader{
	background:url("/images/header.png") repeat-x scroll 0 0 #0F508D;
	border-bottom:1px solid #2A9FEC;
	height:70px;
	width:100%;
}
#header{height:60px; background: transparent; width:1000px;margin:0 auto;}
#footer{clear:both; }
#content_main{background:transparent;width:1000px;padding:10px 0px 0px 0px;;}
#top_menu{width:1000px;margin-top:5px;}
#quick_movement{margin:0 auto;padding: 3px;background:#ffffff;width:994px;height:50px;}
#profile_info{ background:#4780ae;float:right; width:200px;height:50px;margin:5px 10px 0px 0px;color:#fff;line-height:10px;}
#avatar{float:left;margin:0px 10px 0px 5px;padding-top:5px;}
#footer{background:#ffffff;width:980px;margin:0px auto 10px auto;height:15px;padding:10px;}
#footer p{background:none;padding:0px;margin:0px}
#applicationmenu {
	margin-bottom:5px;
	border: 0px;
	font-size:138.5% ;
}

.menutop {
	border:0px !important;
}

#accountsbalance {
	border:1px solid black;
	border-bottom-style:none;
	width: 400px;
}

/* 
CORNERS
* -moz-border-radius-topleft  / -webkit-border-top-left-radius
* -moz-border-radius-topright / -webkit-border-top-right-radius
* -moz-border-radius-bottomleft / -webkit-border-bottom-left-radius
* -moz-border-radius-bottomright / -webkit-border-bottom-right-radius

*/

.cr-top {
	 -moz-border-radius-topleft :5px;  
	 -webkit-border-top-left-radius :5px;
    -moz-border-radius-topright  :5px;
	 -webkit-border-top-right-radius :5px;	
}

.cr-botton {
    -moz-border-radius-bottomleft  :5px;
    -webkit-border-bottom-left-radius :5px;
    -moz-border-radius-bottomright  :5px;
    -webkit-border-bottom-right-radius :5px;
	
}

.cr-all {
	 -moz-border-radius-topleft :5px;  
	 -webkit-border-top-left-radius :5px;
     -moz-border-radius-topright  :5px;
 	 -webkit-border-top-right-radius :5px;
     -moz-border-radius-bottomleft  :5px;
     -webkit-border-bottom-left-radius :5px;
     -moz-border-radius-bottomright  :5px;
     -webkit-border-bottom-right-radius :5px;
    
}
/* ------------------------------------------------------------------------------------
LOGO				 */
#logo {
	padding-top:5px;
	width:300px;
}
div#logo h1{
	padding:0px;
	margin:0px;
	}
div#logo h1 a{
	display:block;
	text-indent:-9999px;
	width:155px;
	height:40px;
	
	background:url("/images/logo_top.png") no-repeat scroll 0 0 transparent;
	}
div#logo h4{
	color:#ffffff;
	/*left:230px;
	position:absolute;
	top:95px;*/
	
}
#profile_info p{
	font-size:11px;
	padding-top:4px;
	padding-bottom:4px;
	}

/* ------------------------------------------------------------------------------------
LOGO				 */
#quick_movement  .quickmovement-div {
	display: inline-block;
	height: 45px;
	padding-right:5px;
	vertical-align: top;
}
	
#quick_movement  div label{
	display: block;
	padding-left:3px;
	padding-bottom: 3px;
	color: #000000;
}

#quick_movement .quickmovement-submit {
	display:inline-block;
	padding-top: 18px;
	padding-right : 0px;
}

#quick_movement .quickmovement-submit input {
	padding:4px 8px;
}
		
#quick_movement .fieldWithErrors input,textarea {
	border: 1px solid red;
	 background-image: url("/images/txt-error.gif");
}		

#quick_movement  div.errormessages  { 
	clear:right;
	display : inline;
	margin-top : 5px;
	width: 900px;
}

#profile_info span {
	margin:0px;
}

#profile_info a {
	padding:0px 5px 0px 5px;
	font-size:77%;
}

#quickmov_accountbutton button {
        outline: none;
		width:110px;
}



#quickmov_accountbutton button em {
        font-style: normal;
        display: block;
        text-align: left;
        white-space: nowrap;
        width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
}
#quickmov_categorybutton button {
        outline: none;
		width:110px;
}

#quickmov_categorybutton button em {
        font-style: normal;
        display: block;
        text-align: left;
        white-space: nowrap;
        width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
}

#calendarmenu {
 position: absolute;
z-index:10;
 }

.box {float: left; width: 400px; margin: 0 0px 20px 0;}
.box-25 {width: 250px;} /* 25% box */
.box-50 {width: 500px;} /* 50% box */
.box-75 {width: 715px;} /* 75% box */
.box-100 {width: 1000px;} /* 100% box */
.altbox {} /* class for alternative (emphasized) boxes (blue headings and colors) */
/* wrap of box's content */
.boxin {box-shadow: #aaa 0 0 10px; -webkit-box-shadow: #aaa 0 0 10px; -moz-box-shadow: #aaa 0 0 10px; border: 1px solid #999; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; background: #fff;}
/* boxes' headers */
.box .header {
	background: #3d3d3d url("/images/headerbox.png") repeat-x;
	border-top: 1px solid #444;
	border-radius: 5px 5px 0 0;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
	position: relative; margin: -1px -1px 0 -1px; padding: 7px 0 9px 20px;
}
.box-first {
	margin-right:20px !important;  
	width:480px !important;
}
.altbox .header { border-top-color: #0a81d0; background: #0f518e url("/images/altheaderbox.png") repeat-x;}
.box .header h3 {position: relative; top: 2px; display: inline; font-size: 150%; color: #fff; text-shadow: #151515 0 1px 0;}
.altbox .header h3 {text-shadow: #003d68 0 1px 0;}

/* forms */
form {padding: 18px;}
form.plain {padding: 0;} /* plain forms - used in tabular and grid data structures, TAKE CARE of it, please */
form.plain fieldset {border: 0 !important; padding: 0 !important;}
form.basic dl {width: 100%; overflow: hidden;} /* basic layout for forms */
form.basic dl dt,
form.basic dl dd {float: left;}
form.basic dl dt {padding: 3px 5px 3px 0; width: 20%;}
form.basic dl dd {padding: 3px 0 3px 5px; width: 76%;}
form.basic dl dd.submit {padding: 3px 0px 0px 0px; width: 100%;}
form.basic dl dd.submit div {float:right;}
form small {color: #999;}

form.basic input.txt,
form.basic textarea {width: 100%;}

form.fields {} /* plain and clean layout for forms */
form.fields fieldset {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid #ccc; margin-bottom: 15px; padding: 10px 15px 15px 15px;
}
form.fields fieldset.last {margin-bottom: 0; border-right: 1px solid #ccc !important;}
form.fields fieldset legend {padding: 0 10px; font-size: 110%;}
form.fields label,
form.fields div.sep {display: block; margin-top: 6px;}
form.fields label.check,
form.fields label.radio {display: inline; margin-top: 0;}
form.fields span.loading {margin-left: 10px;}

/* stylish buttons with rounded corners */
.button {border: 1px solid #00487a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #0567ad url("/images/button.gif") repeat-x; padding: 5px 9px 5px; text-shadow: #00487a 1px 1px 0; color: #fff; cursor: pointer;}
	.button:hover,
	.button:focus,
	.button:active {border-color: #272727; background: #2a2a2a url("/images/altbutton.gif") repeat-x; text-shadow: #000 1px 1px 0; color: #fff;}
	/* alternative colors */
	.altbox .button {border: 1px solid #272727; background: #2a2a2a url("/images/altbutton.gif") repeat-x; text-shadow: #000 1px 1px 0;}
	.altbox .button:hover,
	.altbox .button:focus,
	.altbox .button:active {border-color: #00487a; background: #0567ad url("/images/button.gif") repeat-x; text-shadow: #00487a 1px 1px 0; color: #fff;}
	.altbutton {border: 1px solid #272727; background: #2a2a2a url("/images/altbutton.gif") repeat-x; text-shadow: #000 1px 1px 0;}
	.altbutton:hover,
	.altbutton:focus,
	.altbutton:active {border-color: #00487a; background: #0567ad url("/images/button.gif") repeat-x; text-shadow: #00487a 1px 1px 0; color: #fff;}
	.altbox .altbutton {border: 1px solid #00487a; background: #0567ad url("/images/button.gif") repeat-x; text-shadow: #00487a 1px 1px 0;}
	.altbox .altbutton:hover,
	.altbox .altbutton:focus,
	.altbox .altbutton:active {border-color: #272727; background: #2a2a2a url("/images/altbutton.gif") repeat-x; text-shadow: #000 1px 1px 0; color: #fff;}


/* boxes' content types – tabular */
.box .content {margin-bottom: 5px;}
.box .content table {width: 100%;}
.box .content table th,
.box .content table td {padding: 10px 10px 8px 10px;}
.box .content table th {text-align: left; font-weight: normal;}
.box .content table tr.even th,
.box .content table tr.even td {background: #f5f5f5;}
.altbox .content table tr.even th,
.altbox .content table tr.even td {background: #f0f9ff;}
.box .content table th.first,
.box .content table td.first {padding-left: 20px;}
.box .content table thead th,
.box .content table thead td {border-left: 1px solid #f2f2f2; border-right: 1px solid #d5d5d5; background: #ddd url("/images/thead.gif") repeat-x; text-shadow: #fff 0 1px 0;}
.box .content table tbody tr.first th,
.box .content table tbody tr.first td {border-top: 1px solid #bbb;}
.altbox .content table tbody {color: #00305d;}
.box .content table a.ico-comms {border: 0; background: url("/images/ico-tablecomms.gif") 50% 60% no-repeat; padding: 10px; color: #fff;}
.box .content table tfoot th,
.box .content table tfoot td {border-top: 1px solid #ccc; background: #fff url("/images/tfoot.gif") repeat-x;}
/* boxes' content types – simple list */
.box .content ul.simple li {clear: both; padding: 10px 20px 8px 20px; overflow: hidden;}
.box .content table tr.even th,
.box .content ul.simple li.even {background: #f5f5f5;}
.altbox .content table tr.even th,
.altbox .content ul.simple li.even {background: #f0f9ff;}
.box .content ul.simple strong {float: left; font-weight: normal;}
.box .content ul.simple span {float: right;}
/* boxes' content types – grid */
.box .content .grid {}
.box .content .grid .line {border-bottom: 1px solid #ddd; width: 100%; overflow: hidden;}
.altbox .content .grid .line {border-bottom-color: #c7dfef;}
.box .content .grid .even {background: #f5f5f5;}
.altbox .content .grid .even {background: #f0f9ff;}
.box .content .grid .item {float: left; width: 50%;}
.box .content .grid .item .inner {padding: 17px 15px 12px 20px;}
.box .content .grid .firstline {border-top: 0 !important;}
.box .content .grid .lastline {border-bottom: 0 !important;}
.box .content .grid .item a.thumb {border: 0; float: left;}
.box .content .grid .item .data {margin-left: 165px;}
.box .content .grid .item h4 {margin: 0 0 10px 0; font-size: 110%; font-weight: bold;}
.box .content .grid .item h4 span {margin-right: 5px; font-weight: normal; font-size: 90%;}
.box .content .grid .item p {margin: 0 0 5px 0; color: #666;}
.box .content .grid ul.actions {margin-top: 8px;}
