body {
	margin:0px;
	padding:0xp;
}

#login, 
#navigation,
#quickmovement ,
#main ,
#footer{
	background-color:#CCCCCC;
	margin:0px 0px 10px 0px;
	width:1000px; 
	padding: 5px;
	}
#login {
	height:35px;
}
#navigation ul { 
	height: 35px; 
	margin: 0px ; 
	padding-left: 15px;
}

#navigation ul li { 
	display:inline;  
}

#navigation  ul li a { 
	background-color: #ffffff; 
	color:#000000;	
	display:inline-block; 
	height: 20px; 
	margin-right: 10px; 
	padding:10px 10px 5px 10px;
	text-decoration:none; 
}

#navigation  ul li a:hover { 
	background:#333; 
	color: #ffffff;
}

#navigation  ul li.current a { 
	background:#ce1212; 
	color:#fff;
	font-weight:bold; 
}

#quickmovement  .quickmovement-div {
	display: inline-block;
	height: 45px;
	padding-right:5px;
	vertical-align: top;
}
	
#quickmovement  div label{
	display: block;
	padding-bottom: 3px;
}

#quickmovement .quickmovement-submit {
	display:inline-block;
	height:29px;
	padding-right : 0px;
	vertical-align: bottom;	
	width: 40px;
}
		
#quickmovement .fieldWithErrors input {
	border: 1px solid red;
}		
#quickmovement  div.errormessages  { 
	clear:right;
	display : inline;
	margin-top : 5px;
	width: 900px;
}	

#main {  overflow:hidden; }

#dashboard { width:990px;  padding:10px;}

#filter {
	width:940px;
	padding:3px;
	}
#filter .filter-div {
	display: inline-block;
	padding-right:5px;
		height: 45px;
		vertical-align: top;
}
#filter  div label{
		display: block;
		padding-bottom: 3px;
}
		
 #calendarmenu {
 position: absolute;
 } 
		


          
.yui-button#qm-submit button{
        background: url(/stylesheets/yui/button/assets/add.gif) center center no-repeat;
        text-indent: -4em;
        overflow: hidden;
        padding: 0 .75em;
        width: 2em;
        *margin-left: 4em;   /* IE only */
        *padding: 0 1.75em;  /* IE only */

    }
