.altLabel {
	position: absolute;
	margin: 16px 15px 0 6px;
	font-size: 14px;
	color: black;
}
.altInput {
	padding-left: 60px;
}
select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	margin: 15px 0 0 0;
	padding: 6px 6px 6px 144px;
	font-size: 16px;
	font-weight: normal;
}

.serviceButton {
display: block;
margin: 0;
border: none;
padding: 12px 10px 0 0px;
text-align: center;
font-weight: bold;
text-decoration: inherit;
height: 42px;
color: #7388a5;
box-sizing: border-box;
-webkit-box-sizing: border-box;
}