<div id="users_div" class="box  box-50 cr-all">
		<% form_for(@user , :url => account_path,:html =>{:class => 'basic'}) do |f| %>
		<div class="header cr-top">
			<h3><%=  I18n.t('layout.users.title') %></h3>
			<%= f.submit I18n.t('layout.application.update'),:class => 'phosney-button phosney-header-button' %>
		</div>
		<div class="basic cr-bottom">
			<dl>
			    <%= render :partial => "form", :object => f %>
			</dl>				
		</div>
		<% end %>
</div>   