        <div class="tabbertab">
            <h2>My Settings</h2>
            <div class="container1">
<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>
 
 
<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>
 
 
<%= link_to 'Edit', edit_account_path %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->