<div class="box box-50 cr-all">
		<% form_for(@tag,:html =>{:class => 'basic'}) do |f| %>
		<div class="header cr-top">
			<h3><%=  I18n.t('layout.tags.new') %></h3>
			<%= f.submit I18n.t('layout.application.create'),:class => 'phosney-button phosney-header-button' %>
		</div>
   		<div class="basic cr-bottom">
			<dl>
				<%= render :partial => "form", :object => f %>
			</dl>				
		</div>
<% end %>
</div>
