<div id="category_div"  class="box  box-50 "><!-- .altbox for alternative box's color -->
				<% form_for(@category,:html =>{:class => 'basic'}) do |f| %>
				<div class="header cr-top">
					<h3><%=  I18n.t('layout.categories.name') %></h3>
						<%= f.submit I18n.t('layout.application.update'),:class => 'phosney-button phosney-header-button' %>
				</div>	
				<div class="basic cr-bottom">
					<dl>    
						<%= render :partial => "form", :object => f %>	
					</dl>			
				</div>				
				<% end %>
</div>