<% form_for @user_session,:html => {:id => "loginForm" ,:class => "panel", :selected => "true" },  :url => user_session_path do |f| %>
  <fieldset>
	<h1>Login</h1>	
	<a class="button blueButton" type="submit">Login</a>
   <label class="altLabel"><%=  I18n.t('layout.users.username') %></label>
  <%= f.text_field :login ,:class  => "altInput"  %>
  <label class="altLabel"><%=  I18n.t('layout.users.password') %></label>
  <%= f.password_field :password ,:class  => "altInput" %>
  </fieldset>
  <% end %>


      